:root {
  --ds-lightest-grey: #fafbfc;
  --ds-background-green-subtle: #e3fcef;
  --ds-background-red-light: #ffbdad;
  --ds-lighter-grey: #f4f5f7;
  
  --primary-color: #673ab7;
  --primary-dark: #482880;
  --primary-light: #8561c5;
  --secondary-color: #2196f3;
  --secondary-dark: #1769aa;
  --secondary-light: #4dabf5;
  --primary-text-dark-600: rgba(34, 34, 61, 0.899);
  --primary-text-dark-700: rgba(34, 34, 61, 0.75);
  --virustotal-blue: #0b4dda;
}

#root {
  overflow-x: clip;
}

html{
  overscroll-behavior-y: none;
}

body {
  overflow-x: clip;
  margin: 0;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}